{% extends "home/base.html" %}
{% load gravatar %}
{% block content %}
<br>
<a href="{% url 'create_posts' %}" class="btn btn-danger btn-sm btn-block" role="button"><i class="glyphicon glyphicon-edit"></i> Compose</a>
    <br>
    {% for post in posts %}
        <div class="row">
            <div class="col-md-2 col-sm-3 text-center">
                <a class="story-img" href="{% url 'login' %}">
                    <img src="{% gravatar_url post.author.email %}" style="width:100px; height: 100px; background-color: #12ABB2; color: #ffffff;" class="img-circle">
                </a>
            </div>
            <div class="col-md-10 col-sm-9">
                <h1>{{ post.title }}</h1>
                <div class="row">
                    <div class="col-xs-9">
                        <p>{{ post.content|truncatewords:30 }}</p>
                        <p><button class="btn btn-default" onclick="location.href='{% url 'post_detail' post.id %}'">Read More</button>
                            {% if post.author == request.user %}<button class="btn btn-default" onclick="location.href='{% url 'delete_post' post.id %}'">Delete</button>
                            <button class="btn btn-default" onclick="location.href='{% url 'edit_post' post.id %}'">Edit</button>{% endif %}</p>
                        <p>{{ post.created_date }} | <strong>Views</strong> {{ post.views }} | <strong>#</strong>{{ post.tag }}| <strong>Posted by </strong>{{ post.author }}</p>
                        <hr>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    {% endfor %}
{% endblock %}